streamlit==1.45.1
pandas==2.2.3
plotly==6.1.1
scikit-learn==1.6.1
joblib==1.4.2
numpy==1.26.4
requests==2.32.3
fastapi==0.115.12
uvicorn==0.34.2
pydantic==2.11.4
python-multipart==0.0.20
shap==0.47.2
matplotlib==3.10.3
seaborn==0.13.2
openpyxl==3.1.5
python-dotenv==1.0.1
openai==1.82.0
